
.User {
  /* background-color: #1FBCD3; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#email, #date {
  margin: 5px;
  padding: 3px;
  border: none;
}

html {
  /* margin: 30px; */
}

.file {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
