@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

body {
  color: #333332;
  font-family: 'Julius Sans One', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 45px;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: #F0F1EE;
  display: flex;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

video {
 width: 65%;
 vertical-align: top;
 margin-bottom: 10px;
}

/* BUTTON */

button {
  width: 80px;
  padding: 5px;
  margin: 5px;
  background-color: #333332;
  color: #F0F1EE;
  border: none;
  font-family: 'Julius Sans One', sans-serif;
}

.buttons {
  margin-bottom: 10px;
}

/* SHARED */

.container {
  width: 85%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #BBBBBB;
  margin: auto;
  margin-top: 10px;
  padding-top: 40px;
  padding-bottom: 15px;
  min-height: 300px;
  margin-top: 40px;
}
